body {
  font-family: "Inter", sans-serif;
}
/* comon class */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.btn {
  padding: 12px 16px;
  font-weight: 600;
  color: white;
  background-color: #30b868;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}
.btn:hover {
  color: rgb(255, 255, 255);
  background-color: #000000;
  transition: 2s;
}

nav {
  max-width: 71%;
  margin: 24px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .img img {
  width: 140px;
  height: 60px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 22px;
  font-weight: 500;
}
nav ul li a {
  text-decoration: none;
  color: #000000;
}
