body {
  font-family: "Inter", sans-serif;
}
/* comon class */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.btn {
  padding: 12px 16px;
  font-weight: 600;
  color: white;
  background-color: #30b868;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}
.btn:hover {
  color: rgb(255, 255, 255);
  background-color: #000000;
  transition: 2s;
}

/* Nav sec start */

nav {
  max-width: 71%;
  margin: 24px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .img img {
  width: 140px;
  height: 60px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 22px;
  font-weight: 500;
}
nav ul li a {
  text-decoration: none;
  color: #000000;
}

/* nav sec end */
/* baner sec start */

.benar {
  background-image: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.container {
  max-width: 71%;
  margin: auto;
  padding: 130px 0px;
}
.containt {
  max-width: 80%;
  margin: auto;
  text-align: center;
}

.container .Access {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  border-radius: 30px;
  background: #fff;
  width: 230px;
  margin: auto;
  margin-bottom: 16px;
}
.container .Access h4 {
  font-weight: 500;
  color: #30b868;
  font-size: 16px;
}

.benar .button {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.benar .button .btn-benar {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 50px;
}

.containt h1 {
  line-height: 70px;
  font-weight: 700;
  font-size: 72px;
}
.containt h1 {
  line-height: 70px;
  font-weight: 700;
  font-size: 65px;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.containt h1 span {
  color: #30b868;
}
.containt > p {
  line-height: 40px;
  margin-bottom: 32px;
}
