body {
  font-family: "Inter", sans-serif;
}
/* comon class */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.btn {
  padding: 12px 16px;
  font-weight: 600;
  color: white;
  background-color: #30b868;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
}
.btn:hover {
  color: rgb(255, 255, 255);
  background-color: #000000;
  transition: 2s;
}
.early-btn {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Nav sec start */

nav {
  max-width: 71%;
  margin: 24px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .img img {
  width: 140px;
  height: 60px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 22px;
  font-weight: 500;
}
nav ul li a {
  text-decoration: none;
  color: #000000;
}

/* nav sec end */
/* baner sec start */

.benar {
  background-image: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.container {
  max-width: 71%;
  margin: auto;
  padding: 130px 0px;
}
.containt {
  max-width: 80%;
  margin: auto;
  text-align: center;
}

.container .Access {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  border-radius: 30px;
  background: #fff;
  width: 230px;
  margin: auto;
  margin-bottom: 16px;
}
.container .Access h4 {
  font-weight: 500;
  color: #30b868;
  font-size: 16px;
}

.benar .button {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.benar .button .btn-benar {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 50px;
}

.containt h1 {
  line-height: 70px;
  font-weight: 700;
  font-size: 72px;
}
.containt h1 {
  line-height: 70px;
  font-weight: 700;
  font-size: 65px;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.containt h1 span {
  color: #30b868;
}
.containt > p {
  line-height: 40px;
  margin-bottom: 32px;
}
/* Header part end */

.notes-section {
  width: 71%;
  margin: 130px auto;
}
.notes-section .text {
  text-align: center;
  margin-bottom: 44px;
}
.notes-section .text h1 {
  font-weight: 700;
  font-size: 48px;
  text-transform: capitalize;
  margin-bottom: 16px;
}
.notes-section .text p {
  text-align: center;
  color: #627382;
  font-size: 16px;
}

.containerss {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}
.containerss .contains {
  width: 280px;
  padding: 40px 20px;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
}
.containerss .contains img {
  background-color: #f95555;
  padding: 14px;
  border-radius: 50%;
  margin-bottom: 16px;
}
.containerss .contains h3 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}
.containerss .contains p {
  color: #627382;
  line-height: 20px;
}
/* notes section end */
/* Brain section start */

.brain {
  max-width: 71%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.brain {
  max-width: 71%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
}
.brain .img img {
  width: 600px;
}

.brain .text {
}
.brain .text .uppercase {
  text-transform: uppercase;
  width: 500;
  color: #469165;
  margin-bottom: 16px;
}
.brain .text h1 {
  font-weight: 700;
  font-size: 48px;
  margin-bottom: 16px;
}
.brain .text .Subtitle {
  color: #627382;
  margin-bottom: 40px;
}
.brain .text ul {
  list-style: none;
}
.brain .text ul li {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 500;
  margin-bottom: 16px;
}

/* .brain sec end */

/* Early to access start */

.early-section {
  width: 71%;
  margin: 130px auto;
  background: #f7f6f2;
  padding: 80px 200px;
  border-radius: 15px;
  text-align: center;
}
.early-section h1 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 16px;
}
.early-section > p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 24px;
  line-height: 24px;
  color: #627382;
}
.early-section .button {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
